<div class="center_the_thing">
  <div class="centered_thing">

    <h3 class="modal-header">Resend confirmation instructions</h3>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="modal-body">
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
        </div>
      </div>

      <div class="modal-footer">
        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
        </div>
        <div class="mr-auto">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>


  </div>
</div>
