<p id="notice"><%= notice %></p>

<h1>Terms</h1>

<% if @terms.any? %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Canvas ID</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.name %></td>
        <td><%= term.canvas_id %></td>
        <td><%= format_date term.start %></td>
        <td><%= format_date term.end %></td>
        <td><%= link_to 'Show', term %></td>
        <td><%= link_to 'Edit', edit_term_path(term) %></td>
        <td><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to 'New Term', new_term_path %>
<% else %>
  <p>This list is empty.</p>
  <p>You can <%= link_to 'create terms manually', new_term_path %> or
  <%= link_to 'detect terms automatically', detect_terms_path, data: { method: :put } %>.</p>
<% end %>
