<h1>Terms</h1>

<table>
  <thead>
  <tr>
    <th>Term Name</th>
    <th>Canvas ID</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @terms.each do |term| %>
    <tr>
      <td><%= link_to term.name, term %></td>
      <td><%= term.canvas_id %></td>
      <td><%= format_date term.start %></td>
      <td><%= format_date term.end %></td>
      <td><%= link_to 'Edit', edit_term_path(term) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<div class="links">
  <%= link_to 'New Term', new_term_path %>
  <br>
  <br>
  <%= link_to 'Refresh SIS Terms', refresh_sis_terms_path, data: { method: :put }, class: 'slow', title: 'Look up term start and end times in OnCampus and update them here.' %> |
  <%= link_to 'Refresh Canvas Terms', refresh_canvas_terms_path, data: { method: :put }, class: 'slow', title: 'Sync Classroom Console terms with Canvas terms, creating them in Canvas if they do not exist, updating start and end times, and recording canvas_ids here.' %>
</div>
