<h1>Terms</h1>

<table>
  <thead>
  <tr>
    <th>Term Name</th>
    <th>Canvas ID</th>
    <th>Start</th>
    <th>End</th>
    <th>School Year</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @terms.each do |term| %>
    <tr>
      <td><%= link_to term.name, term %></td>
      <td><%= term.canvas_id %></td>
      <td><%= format_date term.start %></td>
      <td><%= format_date term.end %></td>
      <td><%= term.school_year %></td>
      <td><%= term.status %></td>
      <td><%= link_to 'Edit', edit_term_path(term) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Sync Terms', sync_terms_path, class: 'slow btn btn-primary m-2', data: { method: :put, toggle: 'tooltip'}, title: 'Look up term start and end times in OnCampus and update them here. Create canvas terms if they do not already exist.' %>
<br>
<%= link_to 'Full Sync', full_sync_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Sync Everything for All Courses where sync=true.' %>
