<h1>
  <%= @term.name %>
</h1>

<p>
  <strong>Canvas ID:</strong>
  <%= @term.canvas_id %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @term.courses.count %>
</p>


<p>
  <strong>Sections:</strong>
  <%= @term.sections.count %>
</p>

<p>
  <strong>Start:</strong>
  <%= format_datetime @term.start %>
</p>

<p>
  <strong>End:</strong>
  <%= format_datetime @term.end %>
</p>

<p>
  <strong>School Year:</strong>
  <%= @term.school_year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @term.status %>
</p>

<%= render partial: 'events/history', locals: { events: @term.events.order(created_at: :desc) } %>

<div class="links">
  <%= link_to 'Edit', edit_term_path(@term) %> |
  <%= link_to 'Back', terms_path %>
</div>