<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>SIS ID</th>
    <th>Canvas ID</th>
    <th>Enrollments</th>
<!--    <th colspan="3"></th>-->
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= user.sis_id %></td>
      <td><%= user.canvas_id ? link_to(user.canvas_id, "#{ENV['CANVAS_PATH']}/users/#{user.canvas_id}") : '' %></td>
      <td><%= user.enrollments.count %></td>
<!--      <td><%#= link_to 'Show', user %></td>-->
<!--      <td><%#= link_to 'Edit', edit_user_path(user) %></td>-->
<!--      <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Refresh SIS Emails', refresh_sis_emails_path %> |
<%= link_to 'Refresh Canvas Users', refresh_canvas_users_path %> |
<%= link_to 'Create Missing Canvas Users', create_missing_canvas_users_path %> |
<%= link_to 'Sync SIS Teacher Enrollments', sync_sis_teacher_enrollments_path %>

<%#= link_to 'New user', new_user_path %>
