<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>User Name</th>
    <th>Email</th>
    <th>SIS ID</th>
    <th>Canvas ID</th>
    <th>Enrollments</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= user.sis_id %></td>
      <td><%= user.canvas_id ? link_to("#{user.canvas_id} ⧉", "#{ENV['CANVAS_PATH']}/users/#{user.canvas_id}") : '' %></td>
      <td><%= user.enrollments.size %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Refresh SIS Emails', refresh_sis_emails_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'For users present in Classroom Console, look up their email and add it here.' %>
<%= link_to 'Sync SIS Teacher Enrollments', sync_sis_teacher_enrollments_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Look up teacher enrollments in OnCampus and add them here.' %>
<%= link_to 'Sync Canvas Users', sync_canvas_users_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Create new Canvas users where canvas_id is missing, or record canvas user_id if they already exist. ' %>
<%#= link_to 'Refresh Canvas Users', refresh_canvas_users_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Add canvas_id to users here if they already exist in Canvas.' %>
<%#= link_to 'Create Missing Canvas Users', create_missing_canvas_users_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Create users that do not already exist in Canvas and record their canvas_ids here.' %>
<br>
<%= link_to 'Full Sync', full_sync_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Sync Everything for All Courses where sync=true.' %>
