<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>SIS ID:</strong>
  <%= @user.sis_id %>
</p>

<p>
  <strong>Canvas ID:</strong>
  <%= @user.canvas_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Enrollments:</strong>
  <ul class="links">
    <% @user.enrollments.each do |enrollment| %>
      <li>
        <%= link_to enrollment.section, section_path(enrollment.section.id) %> -
        <% if enrollment.role == 'student' %>
          Grade: <%= enrollment.grade ? enrollment.grade : 'n/a' %>
        <% else %>
          (Teacher)
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<dv class="links">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</dv>
