<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>SIS ID:</strong>
  <%= @user.sis_id %>
</p>

<p>
  <strong>Canvas ID:</strong>
  <%= @user.canvas_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Quarantined:</strong>
  <%= @user.quarantined? %>
</p>

<p>
  <strong>Enrollments:</strong>
  <ul class="links">
    <% @enrollments_by_term.each do |term_id, enrollments| %>
      <li>
        <%= Term.find(term_id).name %>
        <ul>
          <% enrollments.each do |e| %>
            <li>
              <%= link_to e.section, section_path(e.section.id) %> -
              <% if e.role == 'student' %>
                Grade: <%= e.grade ? e.grade : 'n/a' %>
              <% else %>
                (Teacher)
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</p>

<%= render partial: 'events/history', locals: { events: @user.events.order(created_at: :desc) } %>

<div class="links">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
