<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Section Name</th>
      <th>SIS ID</th>
      <th>SIS Course ID</th>
      <th>Size</th>
<!--      <th>Canvas Users</th>-->
      <th>Canvas Course</th>
      <th>Canvas Section</th>
      <th>Term</th>
      <th>Last Sync</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= link_to section.name, section %></td>
        <td><%= section.sis_id %></td>
        <td><%= section.course ? section.course.sis_id : nil %></td>
        <td><%= section.enrollments_count %></td>
<!--        <td><%#= section.enrollments_count %></td>-->
<!--        <td><%#= section.enrollments.where(enrolled_in_canvas: true).count %></td>-->
        <td><%= section.canvas_course_id ? link_to("#{section.canvas_course_id} ⧉", "#{AdminSetting.canvas_path}/courses/#{section.canvas_course_id}/settings#tab-sections") : '' %></td>
        <td><%= section.canvas_id && section.canvas_course_id ? link_to("#{section.canvas_id} ⧉", "#{AdminSetting.canvas_path}/courses/#{section.canvas_course_id}/sections/#{section.canvas_id}") : '' %></td>
        <td class="nowrap"><%= section.term %></td>
        <td class="nowrap"><%= section.last_sync ? "#{time_ago_in_words(section.last_sync)} ago" : 'Never' %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="links text-center">
  <% if @sections.size == @full_count %>
    <%#= link_to "Show Only 50 Sections", sections_path, class: 'btn btn-outline-primary' %>
  <% else %>
    <%= link_to "See All #{@full_count} Sections", sections_path(all: true), class: 'btn btn-outline-primary' %>
  <% end %>
</div>

<br>
<%= link_to 'Check for Opt-Ins', sync_all_sis_assignments_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Look up assignments for all synced OnCampus courses, an assignment titled: "Canvas Grade" will cause it to be synced through Classroom Console.' %>
<%#= link_to 'Sync Canvas Sections', sync_all_canvas_sections_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'If a course + sections are already present in Canvas (determined by section sis_id), add their canvas_ids here.' %>
<br>
<%= link_to 'Full Sync', full_sync_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Sync Everything for All Courses where sync=true.' %>
