<h1><%= @section.name %></h1>


<p>
  <strong>Course:</strong>
  <%= course_link @section.course %>
</p>

<p>
  <strong>SIS ID:</strong>
  <%= @section.sis_id %>
</p>

<p>
  <strong>Canvas ID:</strong>
  <%= @section.canvas_id && @section.canvas_course_id ? link_to("#{@section.canvas_id} ⧉", "#{AdminSetting.first.canvas_path}/courses/#{@section.canvas_course_id}/sections/#{@section.canvas_id}") : '' %>
</p>

<p>
  <strong>Canvas course:</strong>
  <%= @section.canvas_course_id ? link_to("#{@section.canvas_course_id} ⧉", "#{AdminSetting.first.canvas_path}/courses/#{@section.canvas_course_id}") : '' %>
  <% if @section.canvas_course_id.nil? %>
    <%= link_to 'Create Canvas Course', section_create_canvas_course_path(@section) %>
  <% end %>
</p>

<p>
  <strong>Term:</strong>
  <%= @section.term %>
</p>

<p>
  <strong>SIS Assignment:</strong>
  <% if @section.assignment %>
    <%= @section.assignment.sis_id %>
    (<%= link_to 'x', clear_sis_assignments_section_path(@section) , confirm: 'Are you Sure?' %>)
  <% else %>
    <%= link_to 'Sync Assignment', sync_sis_assignments_section_path(@section) %>
  <% end %>
</p>

<p>
  <strong>Last Sync:</strong>
  <%= @section.last_sync ? "#{time_ago_in_words(@section.last_sync)} ago" : 'Never' %>
</p>

<p>
  <strong>Quarantined?:</strong>
  <%= @section.quarantined? %>
</p>

<p>
  <strong>Teacher(s):</strong>
  <ul class="links">
    <% @section.enrollments.where(role: 'teacher').each do |e| %>
      <li><%= link_to e.user %></li>
    <% end %>
  </ul>
</p>

<strong>Students:</strong>
<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Grade</th>
    <th>Last Changed</th>
    <th>Section</th>
    <th>Canvas ID</th>
  </tr>
  </thead>

  <tbody>
  <% @section.enrollments.select{|e| e.role == 'student'}.each do |enrollment| %>
    <tr>
      <td><%= link_to enrollment.user %></td>
      <td><%= enrollment.grade %></td>
      <td><%= enrollment.grade_updated_at ? "#{time_ago_in_words(enrollment.grade_updated_at)} ago" : 'Never' %></td>
      <td><%= enrollment.section %></td>
      <td><%= enrollment.user.canvas_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: 'events/history', locals: { events: @section.events.order(created_at: :desc) } %>

<br>
<div class="links">
  <%= link_to 'Edit', edit_section_path(@section) %> |
  <%= link_to 'Back', sections_path %>
</div>
<br>
<%= link_to 'Enroll Users in Canvas', section_enroll_users_in_canvas_path(@section), class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Add enrolled users to matching section in Canvas.' %>
<%= link_to 'Sync Grades Now', section_sync_path(@section), class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Sync Canvas grades for this section.' %>
