<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>SIS ID:</strong>
  <%= @section.sis_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= course_link @section.course %>
</p>

<p>
  <strong>Canvas ID:</strong>
  <%= @section.canvas_id %>
</p>

<p>
  <strong>Canvas course:</strong>
  <%= @section.canvas_course_id %>
</p>

<p>
  <strong>Term:</strong>
  <%= @section.term_id %>
</p>

<p>
  <strong>Sync Grades?:</strong>
  <%= @section.sync_grades %>
</p>

<p>
  <strong>Last Sync:</strong>
  <%= @section.last_sync ? "#{time_ago_in_words(@section.last_sync)} ago" : 'Never' %>
</p>

<p>
  <strong>Enrolled Users:</strong>
  <ul>
    <% @section.enrollments.each do |enrollment| %>
      <li>
        <%= link_to enrollment.user, user_path(enrollment.user) %>
        - <strong>Grade: <%= enrollment.grade ? enrollment.grade : 'None' %></strong>
        - Changed: <%= enrollment.grade_updated_at ? "#{time_ago_in_words(enrollment.grade_updated_at)} ago" : 'Never' %>
        <%= enrollment.role == 'teacher' ? ' (Teacher)' : '' %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Sync Now', section_sync_path(@section) %> |
<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
