<h1>Get Roles</h1>

<h3>Current School Year: <%= AdminSetting.sis_school_year.gsub('%20', ' ') %></h3>

<table>
  <thead>
  <tr>
    <th>Role SIS ID</th>
    <th>Role Name</th>
    <th>Base Role ID</th>
    <th>Base Role Name</th>
  </tr>
  </thead>

  <tbody>
  <% @roles.each do |role| %>
    <tr>
      <td><%= role['RoleId'] %></td>
      <td><%= role['RoleName'] %></td>
      <td><%= role['BaseRoleId'] %></td>
      <td><%= role['BaseRoleName'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>