<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<%= link_to 'Sync SIS Enrollments', sync_all_sis_enrollments_path %> | <%= link_to 'Create Canvas Courses', create_canvas_courses_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Semesters</th>
      <th>SIS ID</th>
      <th>No. of Sections</th>
      <th>Enrollments</th>
<!--      <th>Sync Course?</th>-->
      <th>Sync?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.course_length %></td>
        <td><%= course.sis_id %></td>
        <td><%= course.sections.count %></td>
        <td><%= course.enrollments.size %></td>
        <td><%= course.sync_course %></td>
<!--        <td><%#= course.sync_grades %></td>-->
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Course', new_course_path %>
<br>
<br>
<br>
<br>
<br>

<% if ENV['DEMO'] %>
  <%= link_to 'Generate Sample Data', generate_sample_data_path %>
<% end %>
