<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SIS ID</th>
      <th>Active?</th>
      <th>Course length</th>
      <th>Sync Course?</th>
      <th>Sync Grades?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.sis_id %></td>
        <td><%= course.is_active %></td>
        <td><%= course.course_length %></td>
        <td><%= course.sync_course %></td>
        <td><%= course.sync_grades %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
