<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Course Length</th>
      <th>SIS ID</th>
      <th>Sections</th>
<!--      <th>Canvas Sections</th>-->
      <th>Enrollments</th>
<!--      <th>Canvas Enrollments</th>-->
      <th>Sync?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.course_length == 1 ? '1-Semester' : 'Full-Year' %></td>
        <td><%= course.sis_id %></td>
        <td><%= course.sections.size %></td>
<!--        <td><%#= course.sections.where.not(canvas_id: nil).count %></td>-->
        <td><%= course.enrollments_count %></td>
<!--        <td><%#= course.enrollments.where(enrolled_in_canvas: true).size %></td>-->
        <td><%= course.sync_course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <% if @courses.size == @full_count %>
      <%#= link_to "Show Only 50 Courses", courses_path, class: 'btn btn-outline-primary' %>
    <% else %>
      <%= link_to "See All #{@full_count} Courses", courses_path(all: true), class: 'btn btn-outline-primary' %>
    <% end %>
</div>

<br>
<%= link_to 'Sync SIS Enrollments', sync_all_sis_enrollments_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'For all courses where sync=true, look up OnCampus enrollments for each of their sections and add them to Classroom Console, creating new users when necessary.' %>
<%= link_to 'Sync Canvas Courses', sync_canvas_courses_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'For all courses where sync=true, create matching courses and sections in Canvas.' %>
<br>
<%= link_to 'Full Sync', full_sync_path, class: 'slow btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Sync Everything for All Courses where sync=true.' %>

<% if ENV['DEMO'] == 'true' %>
  <br>
  <%= link_to 'Generate Sample Data', generate_sample_data_path, class: 'btn btn-primary m-2' %>
<% end %>
