<p>
  <strong>Course Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>SIS ID:</strong>
  <%= @course.sis_id %>
</p>

<p>
  <strong>Sync?</strong>
  <%= @course.sync_course %>
</p>

<p>
  <strong>Course length:</strong>
  <%= @course.course_length %>
</p>

<p>
  <strong>Sections:</strong>
</p>

<table>
  <thead>
  <tr>
    <th>Section Name</th>
    <th>Term</th>
    <th>Size</th>
    <th>Canvas Users</th>
    <th>SIS ID</th>
    <th>Canvas ID</th>
    <th>Canvas Course ID</th>
    <th>Assignment</th>
    <th>Sync Grades?</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @course.sections.each do |section| %>
    <tr>
      <td><%= link_to section.name, section %></td>
      <td><%= section.term %></td>
      <td><%= section.users.count %></td>
      <td><%= section.enrollments.where(enrolled_in_canvas: true).count %></td>
      <td><%= section.sis_id %></td>
      <td><%= section.canvas_id && section.canvas_course_id ? link_to("#{section.canvas_id} ⧉", "#{AdminSetting.canvas_path}/courses/#{section.canvas_course_id}/sections/#{section.canvas_id}") : '' %></td>
      <td><%= section.canvas_course_id ? link_to("#{section.canvas_course_id} ⧉", "#{AdminSetting.canvas_path}/courses/#{section.canvas_course_id}/settings#tab-sections") : '' %></td>
      <td><%= section.assignment ? section.assignment.sis_id : 'None' %></td>
      <td><%= section.sync_grades %></td>
      <td><%= link_to 'Edit', edit_section_path(section) %></td>
      <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <strong>Students:</strong>
</p>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Grade</th>
    <th>Last Changed</th>
    <th>Section</th>
  </tr>
  </thead>

  <tbody>
  <% @course.enrollments.select{|e| e.role == 'student'}.each do |enrollment| %>
    <tr>
      <td><%= link_to enrollment.user %></td>
      <td><%= enrollment.grade %></td>
      <td><%= enrollment.grade_updated_at ? "#{time_ago_in_words(enrollment.grade_updated_at)} ago" : 'Never' %></td>
      <td><%= enrollment.section %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= render partial: 'events/history', locals: { events: @course_events.sort{|a,b| b.created_at <=> a.created_at }} %>

<br>
<div class="links">
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
</div>
<br>
<%= link_to 'Sync SIS Enrollments', course_sync_sis_enrollments_path(@course.id), class: 'btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Sync SIS student enrollments for this Course.' %>
<%= link_to 'Sync with Canvas', course_sync_with_canvas_path(@course.id), class: 'btn btn-primary m-2', data: { toggle: 'tooltip'}, title: 'Create courses and sections in Canvas.' %>
<%#= link_to 'Create Canvas Sections', course_create_canvas_sections_path(@course.id), class: 'btn btn-primary m-2', data: { toggle: 'tooltip'} %>
<%#= link_to 'Enroll Users in Canvas', course_enroll_users_in_canvas_path(@course.id), class: 'btn btn-primary m-2', data: { toggle: 'tooltip'} %>