<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>SIS ID:</strong>
  <%= @course.sis_id %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @course.is_active %>
</p>

<p>
  <strong>Course length:</strong>
  <%= @course.course_length %>
</p>
<p>
  <strong>Sections:</strong>
  <ul>
    <% @course.sections.each do |section| %>
      <li><%= section_link section %> (<%= section.enrollments.count %> enrollments)</li>
    <% end %>
  </ul>
</p>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
