<nav class="collapse navbar-collapse" id="navbarsExampleDefault">
  <a class="navItem <%= nav_selected "dashboard" %>" href="<%= dashboard_path %>">Dashboard</a>
  <a class="navItem <%= nav_selected "courses" %>" href="<%= courses_path %>">Courses</a>
  <a class="navItem <%= nav_selected "sections" %>" href="<%= sections_path %>">Sections</a>
  <a class="navItem <%= nav_selected "users" %>" href="<%= users_path %>">Users</a>
  <a class="navItem <%= nav_selected "on_api" %>" href="<%= on_api_path %>">ON API</a>
  <a class="navItem <%= nav_selected "subscriptions" %>" href="<%= subscriptions_path %>">Subscriptions</a>
  <a class="navItem <%= nav_selected "sync_profiles" %>" href="<%= sync_profiles_path %>">Sync Profiles</a>
  <a class="navItem <%= nav_selected "terms" %>" href="<%= terms_path %>">Terms</a>
  <a class="navItem <%= nav_selected "school_years" %>" href="<%= school_years_path %>">School Years</a>
  <a class="navItem <%= nav_selected "events" %>" href="<%= events_path %>">History</a>
  <a class="navItem" href="<%= sidekiq_web_path %>">Sidekiq</a>
  <a class="navItem <%= nav_selected "quarantines" %>" href="<%= quarantines_path %>">Quarantine</a>
</nav>
<div class="fill"></div>
<nav>
  <% if user_signed_in? %>
    <a class="navItem <%= nav_selected "admin" %>" href="<%= admin_path %>">Admin</a>
    <a class="navItem" href="<%= edit_user_registration_path %>">My Account</a>
  <% else %>
    <a class="navItem" href="<%= sign_in_path %>">Log In</a>
  <% end %>
</nav>
